@model Project_v._1.Models.login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<h4>login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idname" class="control-label"></label>
                <input asp-for="idname" class="form-control" />
                <span asp-validation-for="idname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pword" class="control-label"></label>
                <input asp-for="pword" class="form-control" />
                <span asp-validation-for="pword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="เข้าสู่ระบบ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
